


header{
    height:130px;
    background-image: url("bgimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h4,h5{
    color: navy;
    background-color: honeydew;
    text-align: left;
    margin: 10px 0 10px 0;
}

.myButton{
    background-color: #02976C  ;
    color:black ;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius:20%;
    border: solid black 2px;
    font-size: x-large;
    font-family: 'Roboto Mono', monospace;
}

.animation{
    box-shadow: 1px 5px 9px 1px grey;
}

.div-main{
    border:black  2px solid;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



.container {
    text-align: center;
    margin: 20px;
    width: auto;
  }


footer{
    background-color: black;
    text-align: center;
    color: grey;
    font-size: small;  
}

footer p{
    padding: 7px;
}

iframe{
    padding:10px;
    text-align: center;
    margin-left: 5px;
}